<!DOCTYPE html>
<html>
<head>
	
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Flare Predictor</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<style type="text/css">

body{
	background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;  
    color: white;
    background-color: black;
}
.jumbotron{
	background-color: #000000;
	margin-top: 10%;
}
#prediction{
	font-size: 200%;
}
img{
	height: 70px;
	width: 70px;
}
}
</style>
<body>
<div class="jumbotron text-center">
	<h1><img src="https://github.com/YatinGupta777/Reddit-Flare-Detector-Web-App/blob/master/templates/reddit.png?raw=true">Reddit Flair Detector</h1>
	<p>[ Enter a link to a Reddit post (preferably r/india) to predict a flare for it ]</p>
	<div>
	  <form action="/index" method="POST">
	  	 <label>Enter Link to a Reddit Post</label>
    	<input type="text" class="form-control" name="text">
	    <br>
	    <input type="submit" value="Submit">
	  </form>
	  <br>
	  Predicted Flare : <mark id="prediction">{{prediction}}</mark>
	</div>

</div>
<div class="container-fluid bg-grey">
  <h5 align="right">Developed by <a href="https://github.com/YatinGupta777">Yatin Gupta</a></h5>
</div>

</body>

</html>